# Amazon Reviews

## Imports & Readings

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

#os.getcwd()

In [17]:
amazon_train = pd.read_csv('datasets/review_train.csv')
amazon_test = pd.read_csv('datasets/review_test.csv')

In [18]:
#display(amazon_train)
#amazon_train.head()
print(amazon_test.head())
print(amazon_test.shape)

    ID  V1  V2  V3  V4  V5  V6  V7  V8  V9  ...  V9991  V9992  V9993  V9994  \
0  750  23   6   4   7  11   0   5   2   6  ...      0      0      1      0
1  751  20  12  15   6   9  14   2   6   2  ...      1      3      0      0
2  752  13  10  10   5  12   5   3   4   5  ...      1      0      1      0
3  753  14  15   6   1   7   2   7   2   5  ...      0      0      1      2
4  754   9   8   3   4  10   3   2   2   1  ...      0      0      0      0

   V9995  V9996  V9997  V9998  V9999  V10000
0      0      0      0      0      0       0
1      0      0      0      0      0       0
2      0      0      1      0      1       1
3      0      2      1      0      1       0
4      0      0      0      0      1       0

[5 rows x 10001 columns]
(750, 10001)

In [19]:
print(amazon_train)

      ID  V1  V2  V3  V4  V5  V6  V7  V8  V9  ...  V9992  V9993  V9994  V9995  \
0      0  17   4   8   8   9   4   0   2   3  ...      0      0      0      0
1      1  21   9   5   8   6   2  16   3  12  ...      0      0      0      2
2      2   9   7   6   3   8   2   9   4   4  ...      0      0      0      0
3      3   8   3   5   2   4   3   8   2   4  ...      0      0      1      0
4      4  15   8   8   4   7   8   4   7   1  ...      0      0      0      0
..   ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...    ...    ...    ...    ...
745  745   8   1   5   6   0   5   2   2   2  ...      0      0      0      1
746  746  13   7   3   4   7   4   2   3   5  ...      0      0      0      0
747  747  13   8   6   6  11   0  11   2   4  ...      1      0      0      0
748  748  14  16   7   8  11   8   9   3   7  ...      0      0      0      0
749  749  12  11   7  11   6   1   0   2   2  ...      2      0      1      0

     V9996  V9997  V9998  V9999  V10000      Class
0        0      0      0      1       1       Shea
1        2      1      0      1       0      Riley
2        0      0      0      1       1    Chachra
3        1      0      0      0       0    Agresti
4        0      0      0      0       0      Nigam
..     ...    ...    ...    ...     ...        ...
745      0      0      0      1       0  Calvinnme
746      0      1      0      0       0       Shea
747      0      0      1      0       0   Cholette
748      0      0      0      0       0    Sherwin
749      0      0      0      0       0     Janson

[750 rows x 10002 columns]